annotations:
  artifacthub.io/values-schema: values.schema.json
  artifacthub.io/changes: |-
    - kind: changed
      description: updated to 2025.2.5
apiVersion: v2
appVersion: 2025.10.4
dependencies:
- name: common
  repository: https://bjw-s-labs.github.io/helm-charts
  version: 4.4.0
- condition: postgresql.enabled
  name: postgresql
  repository: https://charts.bitnami.com/bitnami
  version: 18.1.3
- condition: mariadb.enabled
  name: mariadb
  repository: https://charts.bitnami.com/bitnami
  version: 23.2.1
- condition: influxdb.enabled
  name: influxdb
  repository: https://charts.bitnami.com/bitnami
  version: 7.1.20
description: home-assistant  - a free and open-source software for home automation
  designed to be a central control system for smart home devices with a focus on local
  control and privacy
home: https://github.com/loeken/helm-charts
icon: https://gravatar.com/avatar/61f5b56ca85bc7e22f270e125c7e61ca?s=400
maintainers:
- email: loeken@internetz.me
  name: loeken
name: home-assistant
sources:
- https://github.com/loeken/helm-charts/tree/main/charts/home-assistant
- https://github.com/loeken/docker-home-assistant/blob/main/.github/workflows/release.yml
type: application
version: 2025.10.4
