annotations:
  artifacthub.io/values-schema: values.schema.json
  artifacthub.io/changes: |-
    - kind: changed
      description: updated to 1.34.1
apiVersion: v2
appVersion: 1.34.1-alpine
dependencies:
- name: common
  repository: https://bjw-s-labs.github.io/helm-charts
  version: 4.4.0
- condition: mariadb.enabled
  name: mariadb
  repository: https://charts.bitnami.com/bitnami
  version: 23.2.1
- condition: postgresql.enabled
  name: postgresql
  repository: https://charts.bitnami.com/bitnami
  version: 18.1.3
description: vaultwarden - unofficial bitwarden compatible server written in rust,
  formerly known as bitwarden_rs
home: https://github.com/loeken/helm-charts
icon: https://gravatar.com/avatar/61f5b56ca85bc7e22f270e125c7e61ca?s=400
maintainers:
- email: loeken@internetz.me
  name: loeken
name: vaultwarden
sources:
- https://github.com/loeken/helm-charts/tree/main/charts/vaultwarden
- https://github.com/loeken/docker-vaultwarden/blob/main/.github/workflows/release.yml
type: application
version: 1.34.1